*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body,main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    flex-direction: column;

}

.card{
    width: 350px;
    height: 500px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    position: relative;
}

.card img{
    height: 400px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card h2{
    font-size: 40px;
    text-align: center;
}

.card i{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 80px;
    opacity: 0;

    background: linear-gradient(to right bottom, red, black);
    color: transparent;
    background-clip: text;


    transform: translate(-50%, -50%) scale(0) rotate(-70deg);
    transition: all cubic-bezier(.09,.21,.6,.92) .5s;
}