*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: 'Courier New', Courier, monospace;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}

main{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 450px;
    width: 300px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.8);
    overflow: hidden;
    position: relative;
}

.card img{
    height: 320px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0 0;
}

.card h2{
    text-align: center;
    font-size: 45px;
}

.card h5{
    text-align: justify;
    padding: 5px 10px;

    position: relative;
    

    background: rgba(0,0,0,0.8);
    color: white;
    border-radius: 10px;

    opacity: 0;
    transform: translateY(40px);
    transition: all 0.5s ease;
}




#btn-container button{
    padding: 10px 20px;
    font-weight: 700;
    display: block;
    margin: 0 auto;

    background: linear-gradient(to right bottom, red, rgb(49, 42, 42));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    transition: all 0.3s ease;
}
