*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #000000;
}

body{
    display:  flex;
    align-items: center;
    justify-content: center;
    anchor-name: --some-anchor;
    /* gap: 20px; */
}

.box{
    height: 200px;
    width: 200px;
}

.box:hover{
    
    anchor-name: --some-anchor;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}

.anchor{
    background-color: rgb(255, 208, 138);
    border-radius: 10px;
    position: absolute;
    top: anchor(top);
    left: anchor(left);
    bottom: anchor(bottom);
    right: anchor(right);
    pointer-events: none;
    position-anchor: --some-anchor;
    transition: all 0.3s ease;
    mix-blend-mode: difference;
}