*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #000000;
}

main{
height: 100vh;
width: 100%;
/* display: flex;
align-items: center;
justify-content: center; */
position: relative;
}

.elem{
    height: 150px;
    width: 100%;
    background-color: aliceblue;
    border-bottom: 5px rgb(255, 153, 0)solid;
    margin-bottom: 90px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem h1{
    /* text-align: center; */
    font-size: 6vw;
    
    /* line-height: 100px; */
    position: relative;
    z-index: 9;
    color: #000;
}

.elem img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    opacity: 0;
    pointer-events: none;
}
