*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #000000;
}

main{
height: 100vh;
width: 100%;
/* display: flex; */
/* align-items: center;
justify-content: center;  */
position: relative;
}


.elem h1{
    /* text-align: center; */
    font-size: 6vw;
    
    /* line-height: 100px; */
    position: relative;
    z-index: 9;
    color: #000;
}

.elem{
    height: 150px;
    width: 100%;
    background-color: aliceblue;
    border-bottom: 5px rgb(255, 153, 0) solid;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* extra safety */
}

.elem img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10%;
    position: absolute;
    transform: translate(-50%, -50%); /* FIXED */
    opacity: 0;
    pointer-events: none;
}

