*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

html{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: black;
    overflow: hidden;
}

button{
    padding: 15px 30px;
    font-weight:800;
    background-color: rgb(89, 218, 212);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    z-index: 10;
}

button:active{
    scale: 0.95;
    background-color: teal;
    color: white;
    cursor: pointer;
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}