* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(244, 244, 244);
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: #1d1d1d;
}

.view1 {
  max-width: 2000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
}

.top {
  width: 100%;
}

.top img {
  width: 100%;
  border-radius: 0.7rem;
}

.bottom {
  background-color: #292929;
  border-radius: 0.7rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bottom h1 {
  font-weight: 200;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.bottom p {
  font-weight: 100;
  font-size: 1.5rem;
  opacity: 0.6;
  line-height: 1.5;
}

@media (min-width: 900px) {
  .view1 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  
  .top,
  .bottom {
    width: 50%;
  }
  
  .bottom {
    justify-content: space-between;
    padding: 3rem;
    gap: 1.5rem;
  }
  
  .bottom h1 {
    font-size: 3.5rem;
  }
  
  .bottom p {
    width: 60%;
    font-size: 1rem;
  }
}