body{
    background-color: lightblue;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


#box{
    width: 200px;
    height: 300px;
    background-color: rgb(255, 0, 233);
    border-radius: 15px;
}

button{
    padding: 10px 20px;
    background-color: rgb(15, 121, 160);
    border: none;
    border-radius: 5px;
    font-weight: 600;
}

button:active{
    scale: 0.95;
    background-color: rgb(6, 82, 109);
    color: white;
    cursor: pointer;
}