*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

html{
    height: 100%;
    width: 100%;
}

body{
    height: 100vh;
    width: 100vh;
    background-color: black;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    padding: 15px 30px;
    font-weight: 800;
    border: none;
    border-radius: 10px;
    position: relative;
    z-index: 10;
}

button:hover{
    background-color: teal;
    color: white;
    cursor: pointer;
}