*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 1em sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #000;
}

main{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to top, red, black);
    scroll-snap-type: mandatory;
    display: block;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

section{
    height: 100%;
    width: 450px;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: auto;
}

.all-reels{
    height: 100%;
    width: 100%;

    overflow: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

}

.all-reels::-webkit-scrollbar{
    display: none;
}

.reel{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: lightseagreen;
    border-radius: 20px;    
    overflow: hidden;
    margin-bottom: 20px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.reel .bottom{
    padding: 30px 20px;
    height: 180px;
    width: 100%;
    background: linear-gradient( transparent, rgba(0, 0, 0, 0.912));
    position: absolute;
    bottom: 0;
}

.bottom button{
    padding: 10px 20px;
    border: thin solid rgb(0, 86, 152);
    background-color: transparent;
    color: rgb(0, 86, 152);
    font-size: 16px;
    font-weight: 800;
    border-radius: 20px;
    cursor: pointer;
}

.bottom h4{
    font-weight: 600;
    font-size: 20px;
}

.bottom .user{
    align-items: center;
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
}

.bottom .user img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.right {
    padding: 20px;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
    position: absolute;
    right: 0;
    bottom:10%;
    background: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.41));
    border-radius: 40px 0 0 40px;
    /* transform: translateX(100%); */
}


.right i{
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-shadow: 2px 2px 4px #000000;
}

.right h6{
    text-align: center;
    font-weight: 600;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px #000000;
}

.right>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
}

.like {
    color: red;
}

.right > div h4{
    pointer-events: none;
}

.right > div h6{
    pointer-events: none;
}