*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: #000000;
}

:root{
    --x: 10px;
    --y: 100px;
}
body{
    overflow: hidden;
    background-image: url('luffy.jpg');
    background-size: cover;
}
.box{
    width: 100%;
    height: 100%;
    background: radial-gradient(250px at var(--x) var(--y), #ffffff00, #000000ee);
}


